<div class="sidebar">

    <a  routerLink = "/home">
        <span class="short-text">
            <mat-icon style="font-size: 45px;">
                home
            </mat-icon>
        </span>
        <span class="full-text"><br>Home</span>
        
    </a>
    
    <a  routerLink = "/companies">
        <span class="short-text">
            <mat-icon style="font-size: 45px;">
                list
            </mat-icon>
        </span>
        <span class="full-text"><br>Company List</span>
        
    </a>
    <a routerLink = "/add">
        <span class="short-text">
            <mat-icon style="font-size: 45px;">
                add
            </mat-icon>
        </span>
        <span class="full-text"><br>Add Company</span>
        
    </a>
</div>


  